<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Members Concessions</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="navbar">
        <ul class="navbar">
            <li class="navbutton"><a href="/">Home</a></li>
            <li class="navbutton"><a href="/members_films/">Members Films</a></li>
            <li class="navbutton"><a href="/films/">Films</a></li>
            <li class="navbutton"><a href="/members_concessions/">Members Concessions</a></li>
            <li class="navbutton"><a href="/concession_items/">Concession Items</a></li>
            <li class="navbutton"><a href="/members/">Members</a></li>
            <li class="navbutton"><a href="/sales_receipts/">Sales Receipts</a></li>
        </ul>
    </div>
    <p>
        This page is for recording concession transactions in the Silver Screen Shows Database
    </p>
    {{!-- Create a table --}}
    <table id="members_concessions">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th>transactionID</th>
                <th>receiptID</th>
                <th>itemID</th>
                <th>memberID</th>
                <th>quantityPurchased</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the --}}
            {{#each this.members_concessions}}
            <tr id="row">
                <td>{{this.transactionID}}</td>
                <td>{{this.receiptID}}</td>
                <td>{{this.itemID}}</td>
                <td>{{this.memberID}}</td>
                <td>{{this.quantityPurchased}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h1>Members Concessions</h1>
    <form id="addConcessionTransactions" action="/members_concessions" method="post">
        <p>
        <div>Add New Member Concession Transaction</div>
        <input id="itemID" type="number" name="itemID" placeholder="Item ID" required>
        <input id="memberID" type="number" name="memberID" placeholder="Member ID" required>
        <input id="quantityPurchased" type="number" name="quantityPurchased" placeholder="Quantity Purchased" required>
        <input id="submit" type="submit" value="submit">
        </p>
    </form>
    <form id="deleteConcessionTransactions" action="/members_concessions_delete" method="post">
    <p>
    <div>Delete Members Concession Transaction</div>
    <input id="transactionID" type="number" name="transactionID" placeholder="Transaction ID" required>
    <input id="submit" type="submit" value="submit">
    </p>
    </form>
</body>

</html>

<!--- Concession stand - UI for buying concessions (ConcessionTransactions) --->