<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Members Films</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="navbar">
        <ul class="navbar">
            <li class="navbutton"><a href="/">Home</a></li>
            <li class="navbutton"><a href="/members_films/">Members Films</a></li>
            <li class="navbutton"><a href="/films/">Films</a></li>
            <li class="navbutton"><a href="/members_concessions/">Members Concessions</a></li>
            <li class="navbutton"><a href="/concession_items/">Concession Items</a></li>
            <li class="navbutton"><a href="/members/">Members</a></li>
            <li class="navbutton"><a href="/sales_receipts/">Sales Receipts</a></li>
        </ul>
    </div>

    <p>
        This page is for adding and deleting ticket transactions in the Silver Screen Shows Database
    </p>

    {{!-- Create a table --}}
    <table id="members_films">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th>orderID</th>
                <th>receiptID</th>
                <th>filmID</th>
                <th>memberID</th>
                <th>quantityPurchased</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the --}}
            {{#each this.members_films}}
            <tr id="row">
                <td>{{this.orderID}}</td>
                <td>{{this.receiptID}}</td>
                <td>{{this.filmID}}</td>
                <td>{{this.memberID}}</td>
                <td>{{this.quantityPurchased}}</td> 
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h1>Members Films</h1>

    <form id="addTicketTransactions" action="/members_films" method="post">
        <p>
        <div>Add New Member Film transaction</div>
        <input id="filmID" type="text" name="filmID" placeholder="Film ID" required>
        <input id="memberID" type="text" name="memberID" placeholder="Member ID" required>
        <input id="quantityPurchased" type="text" name="quantityPurchased" placeholder="Quantity Purchased" required>
        <input id="submit" type="submit" value="submit">
        </p>
    </form>
    
    <form id="deleteTicketTransactions" action="/members_films_delete" method="post">
    <p>
    <div>Delete Member Film transaction</div>
    <input id="orderID" type="text" name="orderID" placeholder="Order ID" required>
    <input id="submit" type="submit" value="submit">
    </p>
    </form>

</body>

</html>

<!--- Box Office - UI for buying tickets (TicketTransactions) --->