<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Members</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="navbar">
        <ul class="navbar">
            <li class="navbutton"><a href="/">Home</a></li>
            <li class="navbutton"><a href="/members_films/">Members Films</a></li>
            <li class="navbutton"><a href="/films/">Films</a></li>
            <li class="navbutton"><a href="/members_concessions/">Members Concessions</a></li>
            <li class="navbutton"><a href="/concession_items/">Concession Items</a></li>
            <li class="navbutton"><a href="/members/">Members</a></li>
            <li class="navbutton"><a href="/sales_receipts/">Sales Receipts</a></li>
        </ul>
    </div>
    <p>
        This page is for adding, deleting, and updating members in the Silver Screen Shows Database
    </p>

    {{!-- Create a table --}}
    <table id="members">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th>memberID</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>email</th>
                <th>latestFilmViewed</th>
                <th>recentConcessionItem</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the --}}
            {{#each this.members}}
            <tr id="row">
                <td>{{this.memberID}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.email}}</td>
                <td>{{this.latestFilmViewed}}</td>
                <td>{{this.recentConcessionItem}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h1>Members manage/lookup</h1>

    <form id="addMember" action="/members" method="post">
        <p>
        <div>Add Member</div>
        <input id="firstName" type="text" name="firstName" placeholder="First Name" required>
        <input id="lastName" type="text" name="lastName" placeholder="Last Name" required>
        <input id="email" type="email" name="email" placeholder="email" required>
        <input id="submit" type="submit" value="submit">
        </p>
    </form>

    <form id="deleteMember" action="/members_delete" method="post">
        <p>
        <div>Delete Member</div>
        <input id="filmID" type="number" name="memberID" placeholder="Member ID" required>
        <input id="submit" type="submit" value="submit">
        </p>
    </form>

    <form id="updateMember" action="/members_update" method="post">
        <p>
        <div>Update Member</div>
        <input id="memberID" type="number" name="memberID" placeholder="Member ID" required>
        <input id="firstName" type="text" name="firstName" placeholder="First Name">
        <input id="lastName" type="text" name="lastName" placeholder="Last Name">
        <input id="email" type="email" name="email" placeholder="email">
        <input id="submit" type="submit" value="submit">
        </p>
    </form>

</body>

</html>

<!--- Member page - UI for members to view their account --->