<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sales Receipts</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="navbar">
        <ul class="navbar">
            <li class="navbutton"><a href="/index/">Home</a></li>
            <li class="navbutton"><a href="/members_films/">Members Films</a></li>
            <li class="navbutton"><a href="/films/">Films</a></li>
            <li class="navbutton"><a href="/members_concessions/">Members Concessions</a></li>
            <li class="navbutton"><a href="/concession_items/">Concession Items</a></li>
            <li class="navbutton"><a href="/members/">Members</a></li>
            <li class="navbutton"><a href="/sales_receipts/">Sales Receipts</a></li>
        </ul>
    </div>
    <p>
        This page is for adding and looking up receipts in the Silver Screen Shows Database
    </p>
    {{!-- Create a table --}}
    <table id="sales_receipts">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the --}}
            {{#each data}}
            <tr id="row">
                <td>{{this.receiptID}}</td>
                <td>{{this.date}}</td>
                <td>{{this.totalPaid}}</td>
                <td><button
                        onclick="editSalesReceipts({{this.receiptID}},{{this.date}}, {{this.totalPaid}})">Edit</button>
                </td>
                <td>
                    <form action="/delete_row">
                        <button type="submit">Delete</button>
                        <input type="hidden" name="table" value="sales_receipts">
                        <input type="hidden" name="page" value="/sales_receipts">
                        <input type="hidden" name="id" value="{{this.receiptID}}">
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h1>Receipt manage/lookup</h1>
    <form id="addReceipt">
        <p>
        <div>Add Receipt</div>
        <input id="receiptID" type="number" name="receiptID" placeholder="Receipt ID">
        <input id="date" type="date" name="date" placeholder="Date" required>
        <input id="totalPaid" type="number" name="totalPaid" placeholder="Total" required>
        <input id="submit" type="submit" value="submit">
        </p>
    </form>

    <form id="addReceipt">
        <p>
        <div>Delete Receipt</div>
        <input id="receiptID" type="number" name="receiptID" placeholder="Receipt ID" required>
        <input id="date" type="date" name="date" placeholder="Date">
        <input id="totalPaid" type="number" name="totalPaid" placeholder="Total">
        <input id="submit" type="submit" value="submit">
        </p>
    </form>

    <form id="addReceipt">
        <p>
        <div>Update Receipt</div>
        <input id="receiptID" type="number" name="receiptID" placeholder="Receipt ID" required>
        <input id="date" type="date" name="date" placeholder="Date" required>
        <input id="totalPaid" type="number" name="totalPaid" placeholder="Total" required>
        <input id="submit" type="submit" value="submit">
        </p>
    </form>

    <form id="addReceipt">
        <p>
        <div>Search Receipt</div>
        <input id="receiptID" type="number" name="receiptID" placeholder="Receipt ID" required>
        <input id="submit" type="submit" value="submit">
        </p>
    </form>

</body>

</html>

<!--- Member signup page - UI for signing up and entering a new member into the DB --->